* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  float: left;
}
header .loader {
  width: 100%;
  height: 100%;
}
header .logo {
  width: 100px;
}
header .logo img {
  width: 50px;
  margin-top: 20px;
  margin-left: 30px;
}
header .catalog {
  letter-spacing: 25px;
  padding-top: 15px;
}
header .catalog button {
  font-size: 15px;
  padding: 5px 30px;
  border-radius: 6px;
  background-color: #F188F2;
  cursor: pointer;
}
header .catalog input {
  height: 25px;
  border-radius: 5px;
  width: 500px;
}
header .parts {
  display: flex;
  justify-content: space-around;
}
header .parts li {
  padding-left: 80px;
  padding-top: 20px;
  list-style-type: none;
  cursor: pointer;
}
header .parts li:hover {
  color: #FC42FF;
}

.img {
  display: flex;
  width: 100%;
  height: 400px;
  margin-top: 70px;
  float: right;
}
.img .year {
  width: 50%;
  height: 600px;
  position: absolute;
  top: 200px;
  background-color: #A1E2EB;
  z-index: -1;
}
.img .text {
  position: absolute;
  top: 200px;
  left: 100px;
  background-color: #A1E2EB;
  z-index: -1;
}
.img .text h1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.img .text blockquote {
  color: #FFF;
  font-family: Montserrat;
  font-size: 63px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.img .text .buttons {
  word-spacing: 50px;
}
.img .text .buttons button {
  font-size: 25px;
  background-color: transparent;
  padding: 25px 50px;
  border-radius: 13px;
  color: white;
  border-color: white;
}
.img .text .buttons button:hover {
  background-color: #FFF;
  color: #2D2D2D;
  border-color: transparent;
}
.img img {
  margin-top: 30px;
  position: absolute;
  right: 0px;
  z-index: -1;
}

.lots .cat {
  position: absolute;
  top: 830px;
  font-size: 30px;
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700px;
  line-height: 52px;
  letter-spacing: 1.2px;
}
.lots #res {
  position: absolute;
  top: 850px;
  width: 1490px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.lots #res .card {
  text-align: center;
  width: 300px;
  height: 600px;
  border: 1px solid transparent;
  background-color: whitesmoke;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.lots #res .card h2 {
  text-align: center;
  font-size: 17px;
}
.lots #res .card p {
  font-style: italic;
}
.lots #res .card img {
  width: 250px;
  height: 350px;
  border-radius: 25px;
}
.lots #res .card span {
  color: red;
}

.balls {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  top: 3600px;
  width: 100%;
  height: 576px;
  background: linear-gradient(white 13.5%, #ca4acb 13% 100%);
}
.balls .image {
  width: 90%;
}
.balls .image img {
  padding-left: 10px;
}
.balls .phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.balls .phone h2 {
  font-size: 60px;
  color: white;
}
.balls .phone blockquote {
  font-size: 25px;
  color: white;
}
.balls .phone input {
  font-size: 35px;
  border: 1px solid transparent;
  border-radius: 25px;
}
.balls .phone button {
  font-size: 28px;
  padding: 10px 130px;
  border-radius: 25px;
  background-color: transparent;
  border-color: whitesmoke;
  color: white;
}
.balls .phone button:hover {
  background-color: white;
  color: black;
}

/*# sourceMappingURL=style.css.map */
