*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 70px;
    padding-top: 10px;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    float: left;

    .logo{
        width: 100px;
    }

    .catalog{
        letter-spacing: 25px;

        button{
            font-size: 15px;
            padding: 5px 30px;
            border-radius: 15px;
        }

        input{
            height: 25px;
            border-radius: 15px;
        }
    }

    .part{
        display: flex;
        justify-content: space-around;
        ul{
            list-style-type: none;
      display: flex;
      flex-direction: column;

            li{
                border-bottom: 1px solid #ddd;
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

#res{
    width: 250px;
    display: flex;
    justify-content: space-around;

    .card{
        text-align: center;

        p{
            font-style: italic;
        }

        img{
            width: 250px;
            border-radius: 25px;
        }

    }
}