*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#res{
    width: 250px;
    display: flex;
    justify-content: space-around;

    .card{
        text-align: center;

        p{
            font-style: italic;
        }

        img{
            width: 250px;
            border-radius: 25px;
        }

    }
}