*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 70px;
    padding-top: 10px;
    background-color: white;
    display: flex;  
    justify-content: space-around;
    float: left;
    position: sticky;
    top: 0;

    .logo{
        width: 100px;
    }

    .catalog{
        letter-spacing: 25px;
        padding-top: 15px;

        button{
            font-size: 15px;
            padding: 5px 30px;
            border-radius: 6px;
            background-color: #F188F2;
        }

        input{
            height: 25px;
            border-radius: 15px;
            width: 500px;
        }
    }

    .parts{
        display: flex;
        justify-content: space-around;
            li{
               padding-left: 100px;
               padding-top: 20px;
               list-style-type: none;
               cursor: pointer;

               &:hover{
                    color: #FC42FF;
               }
            }
    }
}

.img{
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 100px;
    float: right;

    .year{
        width:50%;
        height: 600px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        position: absolute;
        top: 200px;
        background-color: #A1E2EB;;
        z-index: -1;
    }

    .text{
        position: absolute;
        top: 200px;
        left: 100px;
        background-color: #A1E2EB;;
        z-index: -1;

        h1{
            color: #FFF;
            font-family: Montserrat;
            font-size: 80px;
            font-style: normal; 
            font-weight: 700;
            line-height: 130%;
        }

        blockquote{
            color: #FFF;
            font-family: Montserrat;
            font-size: 63px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
        }

        .buttons{
            // padding-left: 25px;
            word-spacing: 50px;

            button{
                font-size: 25px;
                background-color: transparent;
                padding: 25px 50px;
                border-radius: 13px;

                &:hover{
                    background-color: #FFF;
                    color: #2D2D2D;
                    border-color: transparent;
                }
            }
        }
    }

    img{
        margin-top: 30px;
        position: absolute;
        right: 0px;
        z-index: -1;
    }
}


#res{
    position: absolute;
    top: 850px;
    width: 1490px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .card{
        text-align: center;
        width: 370px;
        border: 1px solid black;
        margin-top: 50px;

        p{
            font-style: italic;
        }

        img{
            width: 250px;
            border-radius: 25px;
        }

    }
}